$primary-color: #3498db;
.categories-list{
    display: flex;
    align-items: center;
}

.homepage-container{
    display: flex;
    align-items: center;
}


.blog {
    width: 100%;

    .blog_title {
      font-size: 2.4em;
      font-weight: bold;
    }
  
    .blog_categories {
      padding: 2em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-auto-flow: row dense;
      grid-gap: 32px;
      margin: 32px 0 0 0;
  
      .blog_categories_item {
        width: 100%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: inline-block;
        color: #000;
        cursor: pointer;
  
        .blog_categories_item_img {
          height: 100px;
          display: flex;
         justify-content: center;
        }
  
        .blog_categories_item_title {
          display: block;
          padding: 10px;
          text-align: center;
          background-color: $primary-color;
          color: #fff;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
    }
  }